@media screen and (max-width: 600px) {
  #tasks {
    justify-content: center;
    text-align: center;
  }
  .tableRow {
    justify-content: center;
    align-items: center;
    margin: 10px;
    display: block;
    text-align: center;
  }
  .edit {
    font-size: 12px;
    font-weight: 800px;
    color: #000;
  }

  .delete {
    font-size: 12px;
    font-weight: 800px;
  }

  .save {
  }
  .read {
    font-size: 12px;
    font-weight: 800px;
  }
  .unread {
    font-size: 12px;
    font-weight: 800px;
  }
  #new-task-submit {
    margin-top: 20px;
    color: #fff;
    border: #fff;
  }
}
